<div class="main">
  <div class="container">
    <div class="form-heading">ログイン</div>

    <div class="form users-form">

      <div class="form-body">

        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>

        <%= form_with url: login_path, local: true do |f|  %>

          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, value: @email %>

          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, value: @password %>

          <%= f.submit value: "ログイン" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
