<div class="main">
  <div class="container">
    <div class="form-heading">ユーザー登録</div>

    <%= form_with model: @user, class: "form users-form form-body" do |f| %>
      <%= render 'layouts/error_messages', model: f.object  %>
      <%= f.label :name, "ユーザーネーム" %>
      <%= f.text_field :name, value: @user.name %>
      <%= f.laber :email, "メールアドレス" %>
      <%= f.text_field :email, value: @user.email %>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, value: @user.password %>
      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, value: @user.password_confirmation %>
      <%= f.submit value: "新規登録" %>
    <% end %>

  </div>
</div>