<div class="main user-show">
  <div class="container">

    <div class="user">
      <span class="user-img">
        <% if @user.image_name? %>
          <%= image_tag @user.image_name.url %>
        <% else %>
          <%= image_tag "default_icon.jpeg" %>
        <% end %>
      </span>
      <h2><%= @user.name %></h2>

      <% if current_user?(@user) %>
        <%= link_to "設定", edit_user_path(@user) %>
      <% else %>
        <%= render 'follow_form' if logged_in? %>
      <% end %>


      <%# フォロー・フォロワーの数 %>
      <div class="stats">
        <a href="<%= following_user_path(@user) %>">
          <strong id="following" class="stat">
            <%= @user.following.count %>
          </strong>
          フォロー
        </a>
        <a href="<%= followers_user_path(@user) %>">
          <strong id="followers" class="stat">
            <%= @user.followers.count %>
          </strong>
          フォロワー
        </a>
      </div>

    </div>



    <%# 投稿内容 %>
    <h3>投稿 (<%= @user.posts.count %>)</h3>
    <% if @user.posts.any? %>
      <ol class="posts-index-item">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% else %>
      <p class="">投稿がありません</p>
      <% if current_user?(@user) %>
        <a href="<%= new_post_path %>">供養する</a> 
      <% end %>
    <% end %>


    <%# いいねした投稿 %>

  </div>
</div>