<li>
    <div class="post-left">
        <span class="user-img">
            <% if post.user.image_name? %>
                <%= image_tag post.user.image_name.url %>
            <% else %>
                <%= image_tag "default_icon.jpeg" %>
            <% end %>
        </span>
    </div>

    <div class="post-right">
        <div class="post-user-name">
            <%= link_to post.user.name, "/users/#{post.user_id}" %>
        </div>

        <%= link_to post.content, post_path(post) %>
        <%= image_tag post.picture.url if post.picture? %>

        <div class="post-time">
            <%= time_ago_in_words(post.created_at) %>前
        </div>
    </div>
</li>