<!DOCTYPE html>
<html>
<%# コメント部分はrails tutorial%>
  <head>
    <title><%#= full_title(yield(:title)) %></title>
    <title>LogicalDiary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%#= render 'layouts/shim' %>
  </head>

  <body>
    <header>

      <div class="header-logo">
          <%= link_to "LogicalDiary", root_path %>
      </div>

      <ul class="header-menus">
        <% if logged_in? %>
          <li>
            <%= link_to @current_user.name, user_path(@current_user) %>
          </li>
          <li>
            <%= link_to "投稿一覧",  posts_path %>
          </li>
          <li>
            <%= link_to "新規投稿", new_post_path %>
          </li>
          <li>
            <%= link_to "ユーザー一覧",  users_path %>
          </li>
          <li>
            <%= link_to "ログアウト", logout_path, class: 'command', data: { confirm: 'ログアウトしますか?' }  %>
          </li>
        <% else %>
          <li>
            <%= link_to "LogicalDiaryとは", about_path %>
          </li>
          <li>
            <%= link_to "新規登録", signup_path %>
          </li>
          <li>
            <%= link_to "ログイン", login_path %>
          </li>
        <% end %>
      </ul>

    </header>

    <%#= render 'layouts/header' %>

    <div class="container">

      <% flash.each do |message_type, message| %>
        <div class="flash flash[<%= message_type %>]"><%= message %></div>
      <% end %>
      <%= yield %>

    </div>

    <%#= render 'layouts/footer' %>
    <%#= debug(params) if Rails.env.development? %>

  </body>
</html>

